# SPDX-License-Identifier: GPL-2.0-or-later
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Project-specific
build/
.vscode/
.cache/
bin/

# Build artifacts
*.o
shambala